
<div class="product-details__wrap">

{% for feature in shop.metaobjects.features.values %}
  <div class="product-characteristic__wrap">
    {% if feature.icon %}
      <div class="image-wrap">
      
      <img src="{{ feature.icon | img_url: width: '54' }}">

     
      </div>
    {% endif %}
    {% if feature.text %}
      <div class="characteristic-wrap__description">
          <h3>{{ feature.text }}</h3>
      </div>
    {% endif %}
  </div>
      {% endfor %}  
</div>

<style>


.product-characteristic__wrap {
    text-align: center;
}

.product-details__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
    gap: 38px;
}
.product-details__wrap img {
    box-shadow: none !important;
}
.characteristic-wrap__description h3 {
    max-width: 129px;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
}

</style>