{{ 'compare-product.css' | asset_url | stylesheet_tag }}

<div class="comparison-product___table">
    <div class="comparison-section__title">
    <h2>Compare Our Tents</h2>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/2403/5817/files/Neso-Tent-Illustration-V5_1_a3e3769c-d2ac-456d-86e3-cb9437293bb5.png?v=1733344336">
    <div class="compare-product___grid">
        <div class="column">
            <div class="attribute">
              <span>Size:</span>
              <div>7 x 7 ft.</div>
            </div>
            <div class="attribute">
              <span>Fits People:</span>
              <div>2-4 People</div>
            </div>
            <div class="attribute">
              <span>Weight & Dimensions:</span>
              <div>4 lbs (134" x 134")</div>
            </div>
            <div class="attribute">
              <span>UPF Rating:</span>
              <div>UPF 50+</div>
            </div>
            <div class="attribute">
              <span>Setup Time:</span>
              <div>2 minutes</div>
            </div>
            <div class="attribute">
              <span>Anchoring System:</span>
              <div>Sand/rock anchors</div>
            </div>
            <div class="attribute">
              <span>Ideal For:</span>
              <div>Compact shade for individuals or couples</div>
            </div>
          </div>
          
          <div class="column">
            <div class="attribute">
              <span>Size:</span>
              <div>9 x 9 ft.</div>
            </div>
            <div class="attribute">
              <span>Fits People:</span>
              <div>3-6 People</div>
            </div>
            <div class="attribute">
              <span>Weight & Dimensions:</span>
              <div>6.5 lbs (110" x 110")</div>
            </div>
            <div class="attribute">
              <span>UPF Rating:</span>
              <div>UPF 50+</div>
            </div>
            <div class="attribute">
              <span>Setup Time:</span>
              <div>2 minutes</div>
            </div>
            <div class="attribute">
              <span>Anchoring System:</span>
              <div>Sand/rock anchors</div>
            </div>
            <div class="attribute">
              <span>Ideal For:</span>
              <div>Small group shade at the beach or park</div>
            </div>
          </div>
          
          <div class="column">
            <div class="attribute">
              <span>Size:</span>
              <div>11 x 11 ft.</div>
            </div>
            <div class="attribute">
              <span>Fits People:</span>
              <div>5+ People</div>
            </div>
            <div class="attribute">
              <span>Weight & Dimensions:</span>
              <div>10 lbs (82" x 80")</div>
            </div>
            <div class="attribute">
              <span>UPF Rating:</span>
              <div>UPF 50+</div>
            </div>
            <div class="attribute">
              <span>Setup Time:</span>
              <div>2 minutes</div>
            </div>
            <div class="attribute">
              <span>Anchoring System:</span>
              <div>Sand/rock anchors</div>
            </div>
            <div class="attribute">
              <span>Ideal For:</span>
              <div>Larger group shade for family or friends</div>
            </div>
          </div>
          
    </div>
  </div>


{% schema %}
{
  "name": "Compare Product",
  "settings": [
   
  ],
  "presets": [
    {
      "name": "Compare Product",

    }
  ]
}
{% endschema %}
