<!-- Include the CSS file -->
<link rel="stylesheet" href="{{ 'home-updated.css' | asset_url }}" type="text/css">

<section id="more-collections">
    <div class="container">
        <div class="collections-wrap__section">
            <div class="more-collection__text">
                <h1>More Collections</h1>
            </div>
            <div class="colletions-box__outer-wrap">
                <div class="collections-box__wrap">
                    <a href="#">
                        <div class="collection-image__section">
                            <img src="images/beach.png" alt="Beach Image" class="img-fluid">
                        </div>
                        <div class="collection-description__section">
                            <h3>Beach furniture</h3>
                            <p>4 products</p>
                        </div>
                    </a>
                </div>
                <div class="collections-box__wrap">
                    <a href="#">
                        <div class="collection-image__section">
                            <img src="images/tents-parts.png" alt="Tents Parts Image" class="img-fluid">
                        </div>
                        <div class="collection-description__section">
                            <h3>tent parts</h3>
                            <p>4 products</p>
                        </div>
                    </a>
                </div>
                <div class="collections-box__wrap">
                    <a href="#">
                        <div class="collection-image__section">
                            <img src="images/accessories.png" alt="Accessories Image" class="img-fluid">
                        </div>
                        <div class="collection-description__section">
                            <h3>accessories</h3>
                            <p>5 PRODUCTS</p>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>