.newsletter-container__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 170px;
    padding: 80px 5rem;
    align-items: center;
}
.newsletter-container__wrapper  h2 {
    font-size: 40px;
    margin-bottom: 15px;
}
.newsletter-container__wrapper  p {
    font-size: 16px;
    color: #000;
}

button.custom-primary__btn {
    background: #000;
    padding: 14px 28px;
    color: #fff !important;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    border: 1px solid #000;
    transition: 0.4s ease-in-out;
    position: relative;
    text-transform: capitalize;
    font-size: 18px;
    width: 100%;
    margin-top: 10px;
}
.newsletter-container__wrapper input  {
    background: #EFEFEF;
    border-radius: 10px;
    height: 56px;
}
.newsletter-container__wrapper .field__input:focus-visible {
    border-radius: 10px;
    box-shadow: none;
}
.newsletter-container__wrapper #ContactFooter{
    width: 100% !important;
    max-width: 100%;
}
.form-inner___section {
    width: 100%;
}