.mega-menu__updated-content {
    background: #F7F7F7;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.mega-menu-updated__link {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}
.mega-menu__list-grid {
    display: grid !important;
    grid-template-columns: 293px 227px 227px 227px 274px !important;
    gap: 15px !important;
}
.mega-menu__info {
    padding-top: 40px;
}
.mega-menu__info h2 {
   font-size: 27px;
  margin:0px 0px 30px 0px;
}
.mega-menu__info p {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: normal;
    margin:0px 0px 30px 0px;
 }

 .shop-all___btn {
   
    background: #000;
    padding: 22px 28px;
    color: #fff !important;
    text-decoration: none;
    border-radius: 10px;
    max-width: 235px;
    display: block;
    text-align: center;
 }
.mega-menu__list-grid  .child-menu-meta-image {
    width: 100%;
    height: 297px;
    object-fit: cover;
    
}
.mega-menu__list-grid  a.mega-menu-updated__link {
    padding: 0px;
    margin-bottom: 10px !important;
}
a.mega-menu-updated__link span {
    width: 100%;
    text-align: left;
    font-size: 20px;
    line-height: 24px;
    margin-top: 13px;

}
.child-menu-product___desc {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 16.41px;
}
.child-menu-item__collection-main > h2 {
    margin-top: 0px !important;
    margin-bottom: 15px;
}
.child-menu-item__collection {
    height: 106px;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.child-menu-item__collection > div {
    position: absolute;
    bottom: 0px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    background: linear-gradient(180deg, #00000047 48%, #00000091 100%);
}
.mega-menu__list-grid .child-menu-item__collection > div  a {
    color: #fff !important;
    padding: 11px !important;
    margin-bottom: 0px !important;
}
/* .child-menu-item__collection > div::before {
    background: linear-gradient(180deg, #0000000a 48%, #00000091 100%);
    position: absolute;
    top: 0px;
    left: 0px;
    content: '';
    height: 100%;
    width: 100%;
} */